* {
    margin: 0; /* Убирает внешние отступы */
    padding: 0; /* Убирает внутренние отступы */
}

body {
    font-family: 'Trebuchet MS', Arial, sans-serif; /* Семейство шрифтов */

    margin: 0; /* Убирает внешний отступ */
    background: rgb(18, 18, 18); /* Тёмный фон страницы */
}

.calculator__wrapper {
    width: fit-content; /* Ширина под размер содержимого */
    margin: auto; /* Центрирование по горизонтали */
    margin-top: 10%; /* Отступ сверху 10% от высоты экрана */

    color: rgb(199, 199, 199);

    text-align: center; /* Выравнивание текста по центру */;
}

.calculator {
    padding: 20px; /* Внутренний отступ */
    
    border-radius: 15px; /* Закруглённые углы */
    background: #fff; /* Белый фон */
}

.calculator__author {
    padding: 3px 0; /* Отступ сверху и снизу */
    font-size: 12px; /* Размер шрифта */
}

.btn {
    width: 50px; /* Фиксированная ширина */
    height: 50px; /* Фиксированная высота */
    border: none; /* Убираем рамку элемента <button /> */
    border-radius: 15px; /* Скруглённые углы */
    
    margin-right: 5px; /* Отступ справа */
    margin-top: 5px; /* Отступ сверху */
    background: rgba(30, 43, 68, .08); /* Светло-серый фон */
    color: rgba(3,3,6,.88); /* Тёмный текст */
    font-size: 24px; /* Размер шрифта кнопок */

    cursor: pointer; /* Курсор-указатель при наведении */
    user-select: none; /* Запрет выделения текста */
}

.btn:hover {
    filter: brightness(150%); /* Увеличенная яркость при наведении */
}

.btn:active {
    filter: brightness(120%); /* Слабее эффект при нажатии */
}

.btn:last-child {
    margin-right: 0; /* Без правого отступа у последней кнопки */
}

.btn--primary {
    background: #ef3124; /* Красный фон */
    color: #fff; /* Белый текст */
}

.btn--secondary {
    background: #212124; /* Тёмный фон */
    color: #fff; /* Белый текст */
}

.btn--execute {
    width: 110px; /* Увеличенная ширина */
}

.result {
    width: 100%; /* Полная ширина */
    height: 50px; /* Фиксированная высота */
    
    box-sizing: border-box; /* Учитывает padding и border */
    margin-bottom: 15px; /* Отступ снизу */
    padding: 0 15px; /* Горизонтальные отступы */
    
    background: rgba(30, 43, 68, .08); /* Светло-серый фон */
    color: #000; /* Чёрный текст */
    text-align: right; /* Выравнивание текста справа */
    line-height: 50px; /* Центрирование текста по вертикали */
    font-size: 36px; /* Крупный шрифт */
    font-weight: bold; /* Жирный текст */
    font-family: Verdana, sans-serif; /* Семейство шрифтов */

    border-radius: 10px; /* Закруглённые углы */
}
